html,
body {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li b {
  display: block;
  color: rgb(25, 209, 241);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li b:hover {
  background-color: #111;
}


.popWindow {  
    background-color:#9D9D9D;  
    width: 100%;  
    height: 100%;
    left: 0;  
    top: 0;  
    overflow: auto;
    filter: alpha(opacity=50);  
    opacity: 0.5;  
    z-index: 1;  
    position: fixed;  

} 
.maskLayer {  

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* border: 1px solid #888; */
    /* max-width: 50%; */
    /* max-height: 50%; */
    display: inline-block;
    z-index: 2;  
    position: fixed;

}  

.myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffd803;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
  
.myBtn:hover { background-color: #272343; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.zoom_input{
  display: inline-block;
  /* width: 50%;   */

  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fffffe;
  color: #272343;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #272343;
  border-color: #272343;
}

.button_save{
  display: inline-block;
  /* width: 50%;   */
  text-align: center;
  margin:auto;
  display:block;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #ffd803;
  color: #272343;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}
.button_save:hover{

  box-shadow: 1px 1px 2px #272343;
  border-color: #272343;
}

.button_create{
  display: inline-block;
  text-align: center;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #ffd803;
  color: #272343;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}
.button_create:hover{

  box-shadow: 1px 1px 2px #272343;
  border-color: #272343;
}

.zoom_input_title{
  font-size: 18px;
  text-align: center;
}
.meet_item_title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.meet_item{
  /* display: inline-block; */
  /* display: block; */
  /* max-width: 50%;   */
  width: 400px;  

  font-size: 18px;
  /* border: none; */
  /* outline: none; */
  background-color: #fffffe;
  /* background-color: #bae8e8; */
  color: #272343;
  /* cursor: pointer; */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #272343;
  border-color: #272343;
}
.meet_item_highlight{
  /* display: inline-block; */
  display: block;
  /* max-width: 50%;   */
  width: 400px;  

  font-size: 18px;
  border: none;
  outline: none;
  /* background-color: #fffffe; */
  background-color: #ffd803;
  color: #272343;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #272343;
  border-color: #272343;
}
/* hr{
  width: 50%;  
  margin: 20px;
} */

.button_ed{
  display: inline-block;
  text-align: center;
  /* font-size: 14px; */
  border: none;
  outline: none;
  /* background-color: #ffd803; */
  color: #272343;
  cursor: pointer;
  /* padding: 8px; */
  border-radius:50%;
  width: 32px;
  height: 32px;
  border-color: #272343;
  border:1px;
}
.button_ed:hover{

  box-shadow: 1px 1px 2px #272343;
  border-color: #272343;
  background-color: #e3f6f5;

}
.zoom_background{
  background-color: #e3f6f5;
  padding-Left: 20px;
}
.zoom_main_container{
  /* background-color: #e3f6f5; */
  padding-Left: 20px;
  /* text-align: center; */
  /* height:110%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;

}

.meet_item_button{
  text-align: right;
}

.meet_item_date_link{
  display: flex;
  padding-Left: 10px;
  padding-bottom: 5px;


  /* justify-content: center; */
  /* align-items: center; */
  /* font-weight: bold; */
}
